.header {
  @extend %between;
  position: static;
  top: 0;
  width: 100%;
  height: 83px;
  filter: blur(4);
  background-color: rgba($clr-white, 0.8);

  ul {
    @extend %align;
    column-gap: 57px;

    @include lg {
      column-gap: 40px;
    }

    @include md {
      column-gap: 32px;
    }

    @include sm {
      column-gap: 10px;
    }
  }

  &__logo {
    img {
      max-width: 210px;
      object-fit: contain;
      transition: all 0.3s ease;

      @include sm {
        max-width: 145px;
      }
    }
  }

  &__link {
    @extend %link;

    &.active {
      text-decoration: underline;
    }
  }
}
